$themeColor: #cb9cff;

body {
  position: relative;

  img.fixed-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -5;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(223, 220, 220);
    position: sticky;
    top: 0;
    z-index: 5;

    section.logo {
      display: flex;
      flex: 1 1 400px;
      align-items: center;

      img {
        width: 6vw;
        height: 6vh;
      }

      h1 {
        font-size: 2.5rem;
      }
    }

    nav {
      flex: 2 1 600px;

      ul {
        display: flex;
        justify-content: space-around;

        li {
          padding: 2rem 0;
          a {
            color: black;
            font-size: 1.5rem;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
              color: $themeColor;
              border-bottom: 2px solid $themeColor;
            }
          }
        }
      }
    }
  }

  main {
    section.background-img {
      min-height: 70vh;
      background-image: url(../images/京都古城.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      div.filter {
        background-color: black;
        opacity: 0.5;
        width: 100%;
        height: 70vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      h3 {
        font-size: 2.5rem;
        color: white;
        text-align: center;
      }
    }

    section.place {
      display: flex;
      flex-wrap: wrap;
      background-color: white;

      h2 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
      }

      div.place-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.item {
          flex-basis: 250px;
          text-align: center;
          padding: 2.5rem;

          img {
            width: 100%;
            border-radius: 50%;
            margin-bottom: 0.5rem;
            transition: all 0.2s;
            &:hover {
              padding: 0.3rem;
              border: 3px solid $themeColor;
            }
          }
        }
      }
    }

    section.background-img2 {
      min-height: 70vh;
      background-color: black;
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        color: white;
        font-size: 2.5rem;
        text-align: center;
      }
    }

    section.map-group {
      padding: 2rem 1rem;
      background-color: white;

      div.text {
        text-align: center;

        h3 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.3rem;
          line-height: 1.5rem;
          padding: 1rem;
        }
      }

      div.map {
        iframe {
          width: 100%;
          height: 40vh;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    section.footer-logo {
      img {
        width: 20vw;
        padding-top: 2rem;
      }

      h3 {
        font-size: 2.5rem;
        text-align: center;
        color: white;
        padding-top: 0.5rem;
      }
    }

    section.contact-icon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 100px;
        padding: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body {
    header {
      position: static;
      section.logo {
        flex-direction: column;

        img {
          width: 30vh;
          height: 30vh;
        }
      }
      nav {
        ul {
          flex-direction: column;

          li {
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }
}
